$css: '.articleItem';

#{$css} {
  @extend %full-flex, %flex-start-column;

  &-title {
    @extend %typography-card-title;

    display: inline-block;
    margin-bottom: 3px;

    @include desktop-view {
      margin-bottom: 8px;
    }

    &--last {
      display: inline-block;
    }
  }

  &-iconArrow {
    margin-left: 10px;
    @extend %inline-flex;
    @include arrow($parent-css: #{$css});
  }

  &-date {
    @extend %typography-card-caption;

    margin-bottom: 3px;
    @include desktop-view {
      margin-bottom: 8px;
    }
  }

  &-tag {
    &List {
      @extend %inline-flex;
    }

    &Item {
      margin-right: 10px;
    }
  }
}
