%inline-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

%full-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

%flex-center {
  align-items: center;
  justify-content: center;
}

%flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

%flex-start-column {
  @extend %flex-start;

  flex-direction: column;
}

%flex-start-row {
  @extend %flex-start;

  flex-direction: row;
}
