%link-hover {
  position: relative;
  z-index: 1;
  padding: 0 5px;
  overflow: hidden;
  color: $black;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    width: 100%;
    height: 51%;
    transition: 0.3s $transition-style transform;
    background-color: $black;
  }

  &::before {
    top: 0;
    transform: translateX(-110%);
    transition: 0.3s $transition-style transform;
  }

  &::after {
    bottom: 0;
    transform: translateX(110%);
    transition: 0.3s $transition-style transform;
  }

  &:hover {
    color: $white;

    &::before {
      transform: translateX(0);
      transition: 0.3s $transition-style transform;
    }

    &::after {
      transform: translateX(0);
      transition: 0.3s $transition-style transform;
    }
  }
}
