@mixin background-image($file) {
  @if $file and $file != '' {
    background-image: url('#{$file}');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } @else {
    @error '$file: `#{$file}` should have a value';
  }
}
