$name: '.iconHamburger';

#{$name} {
  @extend %inline-flex, %flex-center;

  position: relative;
  justify-content: space-between;

  @include desktop-view {
    cursor: pointer;
  }

  &--large {
    width: 26px;
    height: 26px;
  }

  &--small {
    width: 25px;
    height: 25px;
  }

  &-line {
    background-color: $color-nav-hamburger;

    #{$name}--large & {
      width: 30px;
      height: 5px;
      transition: 0.3s $transition-style height;
    }

    #{$name}--large:hover & {
      height: 3px;
      transition: 0.3s $transition-style height;
    }

    #{$name}--small & {
      width: 30px;
      height: 4px;
      transition: 0.3s $transition-style height;
    }

    #{$name}--small:hover & {
      height: 3px;
      transition: 0.3s $transition-style height;
    }
  }
}
