$name: '.trademark';

#{$name} {
  position: relative;

  &-wrapper {
    @extend %inline-flex, %flex-center;

    position: relative;
    width: 139px;
    height: 82px;
    @include desktop-view {
      z-index: 1;
      width: 183px;
      height: 104px;
      transform-style: preserve-3d;
      cursor: pointer;
    }

    &--shadow1 {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
    }

    &--shadow2 {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }
  }

  &-line1 {
    @extend %typography-special;

    position: absolute;
    top: 5px;
    left: 0;
    transform: translateZ(10px);
    transform-style: preserve-3d;
    color: inherit;
    line-height: 1em;
    text-transform: uppercase;

    #{$name}-wrapper--shadow1 & {
      transform: translateZ(-5px);
      transform-style: preserve-3d;
    }

    #{$name}-wrapper--shadow2 & {
      transform: translateZ(4px);
      transform-style: preserve-3d;
    }
  }

  &-line2 {
    @extend %typography-special-tight;

    position: absolute;
    bottom: 5px;
    left: 0;
    transform: translateZ(15px);
    transform-style: preserve-3d;
    color: inherit;
    line-height: 1em;
    text-transform: uppercase;

    #{$name}-wrapper--shadow1 & {
      transform: translateZ(8px);
      transform-style: preserve-3d;
    }

    #{$name}-wrapper--shadow2 & {
      transform: translateZ(12px);
      transform-style: preserve-3d;
    }
  }
}
